@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Index"><button class="btn-link">View Product List</button></a>
</div>
